<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city %>
  </p>

  <p>
    <strong>Coc number:</strong>
    <%= company.coc_number %>
  </p>

  <p>
    <strong>Registry number:</strong>
    <%= company.registry_number %>
  </p>

</div>
